

body {
  margin: 0;
  font-family: 'SpeakBold';
}


:root {
  font-family: 'SpeakBold' !important;
}



button, input, textarea {
  font-family: 'SpeakBold';
}

input, textarea {
  box-sizing: border-box;
}


a {
  text-decoration: none;
}

.width-auto {
  width: auto !important;
}

.width-full {
  width: auto !important;
}

@media only screen and (max-width:767px) {
  .width-full {
    width: 100% !important;
  }
}

.display-none {
  display: none;
}

.mt-50 {
  margin-top: 50px;
}